.vim-force.com/
*.code-workspace
*.sublime-project
*.sublime-settings
*.sublime-workspace
**/profilePasswordPolicies
build.properties
build.xml
destructiveChanges.xml
force.json

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Salesforce dev
.sfdx/
.localdevserver/

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# VS Code project settings
.vscode/

node_modules
.local
.metadata
mdapi-source

**/jsconfig.json